In [6]:
import pandas as pd
import os
print(os.getcwd())

C:\Users\JFRQM9

In [36]:
df = pd.read_csv('Documents/code/lstm2/Data/WISDM/WISDM_ar_v1.1_raw.txt', header=None, names = ['id', 'label', 'time', 'x_acc', 'y_acc', 'z_acc'])

In [46]:
activity = {'Walking': 1,
            'Upstairs': 2,
            'Downstairs': 3,
            'Sitting': 4,
            'Standing': 5,
            'Jogging': 6}

Anomaly = {'Walking': 0,
            'Upstairs': 0,
            'Downstairs': 0,
            'Sitting': 0,
            'Standing': 0,
            'Jogging': 1}

df['label'] = df['label'].astype('str')
print(df['label'])

0          Jogging
1          Jogging
2          Jogging
3          Jogging
4          Jogging
            ...
1098199    Sitting
1098200    Sitting
1098201    Sitting
1098202    Sitting
1098203    Sitting
Name: label, Length: 1098204, dtype: object

In [47]:
df['activity'] = df['label'].map(activity)
df['anomaly'] = df['label'].map(Anomaly)
df

,id,label,time,x_acc,y_acc,z_acc,activity,anomaly
0,33,Jogging,49105962326000,-0.694638,12.680544,0.50395286;,6,1
1,33,Jogging,49106062271000,5.012288,11.264028,0.95342433;,6,1
2,33,Jogging,49106112167000,4.903325,10.882658,-0.08172209;,6,1
3,33,Jogging,49106222305000,-0.612916,18.496431,3.0237172;,6,1
4,33,Jogging,49106332290000,-1.184970,12.108489,7.205164;,6,1
...,...,...,...,...,...,...,...,...
1098199,19,Sitting,131623331483000,9.000000,-1.570000,1.69;,4,0
1098200,19,Sitting,131623371431000,9.040000,-1.460000,1.73;,4,0
1098201,19,Sitting,131623411592000,9.080000,-1.380000,1.69;,4,0
1098202,19,Sitting,131623491487000,9.000000,-1.460000,1.73;,4,0
1098203,19,Sitting,131623531465000,8.880000,-1.330000,1.61;,4,0

In [48]:
df['label'].value_counts()

Walking       424398
Jogging       342176
Upstairs      122869
Downstairs    100427
Sitting        59939
Standing       48395
Name: label, dtype: int64